<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mrunal.arttour">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name="com.mrunal.arttour.MainApplication"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:name="com.mrunal.arttour.ui.ArtActivity"
      android:theme="@style/AppTheme.Main">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        <action android:name="android.intent.action.VIEW"/>
      </intent-filter>
    </activity>

    <activity
      android:name="com.mrunal.arttour.ui.ArtDetailActivity"
      android:theme="@style/AppTheme.Detail"/>

    <!-- Content Provider -->
    <provider
      android:authorities="@string/content_authority"
      android:exported="true"
      android:name="com.mrunal.arttour.database.ArtsProvider"
      android:syncable="true"/>

    <!-- Widget -->
    <receiver android:name="com.mrunal.arttour.widget.StackWidgetProvider">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/stackwidgetinfo"/>
    </receiver>

    <service
      android:name="com.mrunal.arttour.widget.StackWidgetService"
      android:permission="android.permission.BIND_REMOTEVIEWS"/>

  </application>

</manifest>